@font-face {
  font-family: "MiSans";
  src: url("/blog/assets/fonts/misans/MiSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MiSans";
  src: url("/blog/assets/fonts/misans/MiSans-Normal.woff2") format("woff2");
  font-weight: 350;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MiSans";
  src: url("/blog/assets/fonts/misans/MiSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MiSans";
  src: url("/blog/assets/fonts/misans/MiSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MiSans";
  src: url("/blog/assets/fonts/misans/MiSans-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MiSans";
  src: url("/blog/assets/fonts/misans/MiSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-misans: "MiSans", sans-serif;
  --font-banner-title: "MiSans", sans-serif;
  --font-banner-subtitle: "MiSans", sans-serif;
  --font-navbar-title: "MiSans", sans-serif;
  --font-main: "MiSans", sans-serif;
}